
body{
    font-family: 'LunchType-Regular', sans-serif;
    font-size: 14px;
    margin: 0;
}

.section {
    min-height: 100vh;
    display: flex;
}

/* helper class that adds padding to our sections that can be reused */
.section-pad {
    padding-left: 5vw;
    padding-right: 5vw;
}

.container {
    max-width: 810px;
    /* center the content */
    margin: auto;
}

.intro {
    background-image: url('/images/intro.jpg');
    color: #ffffff;
}

.intro p {
    font-size: 36px;
    line-height: 1.2;
}

.logo {
    display: block;
    text-align: center;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    max-width: 112px;
}

.logo img {
    width: 100%;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
}